In [ ]:
# Implement the method get_data() in Home-Credit-Prediction/homecredit/data.py

In [1]:
import os
import pandas as pd

In [2]:
pathh = (os.path.dirname(os.getcwd()))
pathh

'/Users/kenzaelhoussaini/code/kelhoussaini/Home-Credit-Prediction'

In [3]:
csv_path = os.path.join(pathh, "raw_data")
csv_path

'/Users/kenzaelhoussaini/code/kelhoussaini/Home-Credit-Prediction/raw_data'

In [4]:
os.listdir(csv_path)

['application_test.csv', '.DS_Store', '.keep', 'application_train.csv']

In [5]:

class HomeCredit:

    def get_data(self):
        """
        This function returns a Python dict.
        Its values should be pandas.DataFrame loaded from csv files
        """
        # Hints: Build csv_path as "absolute path" in order to call this method from anywhere.
       
        # Use __file__ as absolute path anchor independant of your computer
        # Make extensive use of `import ipdb; ipdb.set_trace()` to investigate what `__file__` variable is really
        # Use os.path library to construct path independent of Unix vs. Windows specificities
        pathh = os.path.dirname(os.getcwd())
        csv_path = os.path.join(pathh, "raw_data")
        #print(pathh)
        #print(csv_path)
        ##
        file_names = []
        for i in os.listdir(csv_path):
            if (".csv" in i):
                file_names.append(i)
        ##
        key_names = [i.replace(".csv", "").replace("application_", "") for i in file_names]
        #
        data_keys = {}
        for (x, y) in zip( key_names, file_names):
            data_keys[x] = y
        data_keys
        
        data = {}
        for k,l in data_keys.items():
            data[k] =  pd.read_csv(os.path.join(csv_path, l))
        #dataframe = pd.read_csv(os.path.join(csv_path, y)).head())
        return data

In [9]:
import sys
path_dir = (os.path.dirname(os.getcwd()))

sys.path.append(path_dir)

In [12]:
from homecredit.data import HomeCredit
dict_test = HomeCredit().get_data()

In [13]:
dict_test.keys()

dict_keys(['test', 'train'])

In [15]:
dict_test['train'].head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
dict_test['test'].head(2)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0