In [1]:
import os
import sys

In [2]:
path_dir = (os.path.dirname(os.getcwd()))
sys.path.append(path_dir)
    
from homecredit.data import HomeCredit
from homecredit.preparation import Preparation
from homecredit.cleaner import Cleaning
from homecredit.exploration import Exploration
from homecredit.model import Modeling

from homecredit.encoder import Encoder

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

import pickle

# Train and save the model

## selected features

In [4]:
mask = ['CODE_GENDER', 'FLAG_OWN_CAR', 'OCCUPATION_TYPE',  # categ
        'NAME_INCOME_TYPE', 'NAME_TYPE_SUITE', # categ 
       'EXT_SOURCE_3', 'DAYS_EMPLOYED', 'FLOORSMAX_AVG',  # num 
        'DAYS_BIRTH', 'REGION_RATING_CLIENT_W_CITY', # num
        'TARGET' # target
       ]

In [5]:
ml = Modeling(cols=mask) # data_set = 'train', cols = None, newdf = None, targ= "TARGET"

In [6]:
ml.__dict__.keys()

dict_keys(['cols', 'en', 'data', 'new_data'])

In [7]:
ml.data.shape, ml.new_data.shape  # data --> train, new_data --> test

((252133, 42), (39470, 41))

In [8]:
ml.data.head(2)

,EXT_SOURCE_3,DAYS_EMPLOYED,FLOORSMAX_AVG,DAYS_BIRTH,REGION_RATING_CLIENT_W_CITY,TARGET,F,M,N,Y,...,State servant,Student,Working,Children,Family,Group of people,Other_A,Other_B,"Spouse, partner",Unaccompanied
0,0.139376,-637,0.0833,-9461,2,1,0,1,1,0,...,0,0,1,0,0,0,0,0,0,1
1,0.500345,-1188,0.2917,-16765,1,0,1,0,1,0,...,1,0,0,0,1,0,0,0,0,0

In [9]:
ml.data.isnull().sum().sum(), ml.new_data.isnull().sum().sum()

(0, 0)

In [6]:
models = []
models.append(('LR', LogisticRegression(max_iter=1000)))
#models.append(('KNN', KNeighborsClassifier(n_neighbors=5)))

models.append(('DTC', DecisionTreeClassifier()))

In [7]:
dic = ml.execute(models) # models=[], scoring = ['accuracy']

# 3 pickle files were saved : encoder.pckl, models_selected_features.pckl, scaler.pckl

Model:  LR  scoring: accuracy  train score 0.9132600158970569 time_run (mins) 0.590986947218577
Model:  DTC  scoring: accuracy  train score 0.8407415779370835 time_run (mins) 0.2219693700472514

In [9]:
dic

[{'Name ': 'LR',
  'Model ': LogisticRegression(max_iter=1000),
  ' scoring': 'accuracy',
  ' train score': 0.9134243287479762,
  'time_run (mins)': 0.6298624356587728},
 {'Name ': 'DTC',
  'Model ': DecisionTreeClassifier(),
  ' scoring': 'accuracy',
  ' train score': 0.8400163327284573,
  'time_run (mins)': 0.2218425671259562}]

In [10]:
ml.evaluate_model(LogisticRegression(max_iter=1000)) # model scoring on test data

0.9138154415653094

In [11]:
ml.evaluate_model(DecisionTreeClassifier()) # model scoring on test data

0.8418429402432576

Best model in this case : LogisticRegression(max_iter=1000)

## all features

In [15]:
m = Modeling() # data_set = 'train', cols = None, newdf = None, targ= "TARGET"

In [16]:
m.data.shape, m.new_data.shape  # data --> train, new_data --> test

((251754, 242), (39470, 241))

In [17]:
m.execute(models)

Model:  LR  scoring: accuracy  train score 0.9138724454954051 time_run (mins) 2.525270382563273
Model:  DTC  scoring: accuracy  train score 0.8442520071740744 time_run (mins) 2.1742629329363505

[{'Name ': 'LR',
  'Model ': LogisticRegression(max_iter=1000),
  ' scoring': 'accuracy',
  ' train score': 0.9138724454954051,
  'time_run (mins)': 2.525270382563273},
 {'Name ': 'DTC',
  'Model ': DecisionTreeClassifier(),
  ' scoring': 'accuracy',
  ' train score': 0.8442520071740744,
  'time_run (mins)': 2.1742629329363505}]

In [18]:
m.evaluate_model(LogisticRegression(max_iter=1000))

0.9141234260595549

In [19]:
m.evaluate_model(DecisionTreeClassifier())

0.8453797979530498

# Load models from pickle file

In [20]:
# Load model from pickle file
my_model = pickle.load(open("models_selected_features.pckl","rb"))

my_model#.score(X_test_sc, y_test)

[{'Name ': 'LR',
  'Model ': LogisticRegression(max_iter=1000),
  ' scoring': 'accuracy',
  ' train score': 0.914132571652989,
  'time_run (mins)': 0.65798526207606},
 {'Name ': 'DTC',
  'Model ': DecisionTreeClassifier(),
  ' scoring': 'accuracy',
  ' train score': 0.841160833687748,
  'time_run (mins)': 0.2028424342473348}]